body {
  font-family: "Segoe UI";
  background: #f5f6fa;
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
}

button {
  background: linear-gradient(45deg,#c00000,#ff4d4d);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
}